.panelLeft {
	padding: 3px;
	width: 250px;
	height: 280px;
	background: #ffffff;
	border: #282828 2px solid;
	font-family: Georgia;
}

.panelRight {
	padding: 3px;
	width: 250px;
	height: 280px;
	background: #eeeeee;
	border: #282828 2px solid;
	font-family: Georgia;
}