@charset "utf-8";
	        
div.grid {
    float: left;
    width:50px;
    height:50px;
    outline:1px solid #bbb;
    padding-left: 15px;
    padding-bottom: 10px;
    background:white;
    font-size:50px;
    overflow:hidden;
    font-family: sans-serif;
}

div.centre
{
	width: 500px;
	display: block;
	margin-left: auto;
	margin-right: auto;	
}
div.centreinside
{	float: left;
	width: 220px;
	display: block;
	margin-left: auto;
	margin-right: auto;
    margin-left: 30px;
    margin-bottom: 30px;
    z-index: 100001;
	background: background:#ecf5fe transparent;
	
	
}

/* Модальное Окно */
#gameDiv {
	width: 195px; 
	height: 220px; /* Размеры должны быть фиксированы */
	color: #990000;
	border-radius: 5px;
	border: 2px #000 solid;
	border-width: 2px;
	border-color: #990000;
	background: #fff;
	position: fixed; /* чтобы окно было в видимой зоне в любом месте */
	top: 45%; /* отступаем сверху 45%, остальные 5% подвинет скрипт */
	left: 50%; /* половина экрана слева */
	margin-top: -90px;
	margin-left: -80px; /* тут вся магия центровки css, отступаем влево и вверх минус половину ширины и высоты соответственно =) */
	display: none; /* в обычном состоянии окна не должно быть */
	opacity: 0; /* полностью прозрачно для анимирования */
	padding: 20px 10px;
	z-index: 8; /* окно должно быть наиболее большем слое */
}

 .semi {
    opacity: 0.5; /* Полупрозрачность элемента */
   }
   
/* Кнопка закрыть для тех кто в танке) */
#gameDiv #gamePanelClose {
	width: 12px;
	height: 14px;
	position: absolute;
	top: 2px;
	right: 2px;
	cursor: pointer;
	display: block;
}

#gamePanelScore {
	position: absolute;
	top: 5px;
	left: 8px;
	cursor: pointer;
	display: block;
	padding-left: 10px; 
	margin-left: 18px; 
	color: #990000; 
	font-size: 16px;
	font-weight: bold;
}

#gameButtomBreak {
	position: absolute;
	padding-bottom: 8px;
	padding-right: 20px;
	color: #990000;	
	border-color: #990000;	
}

/* Подложка - фон для модального окна */
#overlayGame {
	z-index: 5; /* подложка должна быть выше слоев элементов сайта, но ниже слоя модального окна */
	position: fixed; /* всегда перекрывает весь сайт */
	background-color: #000; /* черная */
	opacity: 0.2; /* но немного прозрачна */
	width: 100%; 
	height: 100%; /* размером во весь экран */
	top: 0; 
	left: 0; /* сверху и слева 0, обязательные свойства! */
	cursor: pointer;
	display: none; /* в обычном состоянии её нет) */
}

         
div:nth-of-type(3n + 1) {
    clear:left
}
    
p {
    clear:both;
    padding:10px 0;
}

div.X {
    color: green;
}

div.O {
    color: blue;
}

