/* Custom dialog styles */
#popup_container.invite {
	font-family: Georgia, serif;
	color: #A4C6E2;
	background: #005294;
	border-color: #113F66;
}

#popup_container.invite #popup_title {
	color: #FFF;
	font-weight: normal;
	text-align: left;
	background: #76A5CC;
	border: solid 1px #005294;
	padding-left: 1em;
}

#popup_container.invite #popup_content {
	background: none;
}

#popup_container.invite #popup_message {
	padding-left: 0em;
}

#popup_container.invite INPUT[type='button'] {
	border: outset 2px #76A5CC;
	color: #A4C6E2;
	background: #3778AE;
}
